.dragonCard {
  display: flex;
  flex-direction: column;
  margin: 1em 0 1em 0;
}

.dragonList {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: 30% 30%;
  height: fit-content;
  margin-bottom: 3em;
  gap: 30px;
}

.image {
  display: inline-block;
  width: 250px;
  height: 150px;
}
